{% extends 'base.html' %}

{% block title %}About us | {% endblock %}

{% block content %}
    <h1 class="title">About us</h1>
    <h2 class="title" style=" color:cadetblue; font-family: verdana;">Saul Gadgets</h2>
    <img src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Team Work" width="700px">
    <p><br>
        For the last two decades, we have been serving Polish consumers and promoting the idea <br>of entrepreneurship in
        one of the most innovative areas of the economy. We are the favourite<br> shopping destination for Poles and a place
        to do business for over 117 thousand companies,<br> most of them Polish small and medium enterprises. We create innovations
        that impact the daily<br> lives of millions of Poles, allowing them to shop for products they need while saving money and time.
    </p>
{% endblock %}