{% extends 'base.html' %}

{% block title %}Contact | {% endblock %}

{% block content %}
    <h1 class="title" style="font-family: verdana;">Contact</h1>
    <h2 class="title" style=" color:cadetblue; font-family: verdana;">ELECTRON</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfVCeq4MT6qYENdIhsi61STNQTxHJqGGrIgQ&usqp=CAU" alt="contact" width="500px">
    <p>In general matters:<br>
        office@ELECTRON.com<br><br>
        Returns:<br>
        returns@ELECTRON.com<br><br>
        Technical Support:<br>
        support@ELECTRON.com<br><br>

        Hotline:<br>
        (+4832) 44 16 0 14 <br>
        (+4822) 203 56 66<br>
        Mon-Fri, 9:00 am - 5:00 pm<br>
    </p>

{% endblock %}
